<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">User Name:</label>
      <input id="username" formControlName="username" type="text" class="form-control">
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <small *ngIf="loginForm.get('username')?.errors?.required">Username is required.</small>
        <small *ngIf="loginForm.get('username')?.errors?.minlength">Username must be at least 3 characters long.</small>
        <small *ngIf="loginForm.get('username')?.errors?.maxlength">Username cannot be more than 20 characters long.</small>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" class="form-control">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.required">Password is required.</small>
        <small *ngIf="loginForm.get('password')?.errors?.minlength">Password must be at least 8 characters long.</small>
        <small *ngIf="loginForm.get('password')?.errors?.pattern">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</small>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
